@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f8fb;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #030229;
}
.profile-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-btn img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(892%)
    hue-rotate(149deg) brightness(107%) contrast(107%);
}
/* .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
} */

/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.section {
  margin-bottom: 30px;
}

/* .input-float-label {
  background: #ffffff;
  top: 9px !important;
} */

.login-layout {
  display: flex;
  align-items: center;
  height: 100%;
}
.login-layout .form-box {
  flex: 1;
  overflow: auto;
  height: calc(100% - 0px);
}
.login-layout .right-image-box {
  flex: 1;
  height: 100%;
  display: flex;
  background: #f6f8fb;
}
.right-image-box .right-image {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.right-image-box .bottom-right-image {
  width: 100%;
  max-width: 280px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.bottom-right-image img {
  width: 100%;
  max-width: 280px;
}
.main-layout {
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.image-box img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-right-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.image-box {
  width: 100%;
  height: 100vh;
}
.right-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.right-content-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
.logo {
  width: 100%;
  max-width: 200px;
}
.slide-image {
  width: 100%;
  max-width: 500px;
}
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%); /* Initially offscreen to the right */
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); /* Smooth easing */
  z-index: 1000;
  overflow: auto;
}

.drawer.open {
  transform: translateX(0); /* Slide into view */
}

.drawer-content {
  padding: 20px;
}

.close-btn {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


